ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    
display:inline-flex;
float:right;
clear:both;


    
}

.gmail, .images {
    
font-family: arial,sans-serif;
font-size: 13px;
padding-left: 30px;
padding-right: 30px;   
color: rgba(0,0,0,0.87);
      
    
}

.container {
display: grid;
grid-template-areas: 
"google google"
"search search"
"button1 button2"
"footer footer";
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;
position: relative;
top: 170px;
left: 30px;


}

header {
  grid-area : google;

}

nav {
  grid-area : search;
 
}

.left {
  grid-area: button1;
  
}

.right {
  grid-area: button2;
  
}

footer {
  grid-area: footer;
  
}